name: Borsa Bot

on:
  schedule:
    - cron: '0 6 */3 * *'
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Repo çek
        uses: actions/checkout@v3

      - name: Python kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Bağımlılıkları yükle
        run: |
          pip install -r requirements.txt

      - name: Botu çalıştır
        env:
          NEWS_API_KEY: ${{ secrets.NEWS_API_KEY }}
          MAIL_SENDER: ${{ secrets.MAIL_SENDER }}
          MAIL_PASSWORD: ${{ secrets.MAIL_PASSWORD }}
          MAIL_RECIPIENT: ${{ secrets.MAIL_RECIPIENT }}
        run: |
          python main_bot.py
